$tabs-bottom-padding: 30px;
$tabs-left-padding: 50px;
$tabs-right-padding: 50px;

.tabs {
  &,
  * {
    &,
    &::after,
    &::before {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  }
  $self: &;
  position: relative;

  &--bottom {
    #{$self}__container {
      padding-bottom: $tabs-bottom-padding;
    }

    #{$self}__list {
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }

  &--left {
    padding-left: $tabs-left-padding;

    #{$self}__list {
      left: 0;
      position: absolute;
      top: 0;

      li {
        display: block;
      }
    }
  }

  &--right {
    padding-right: $tabs-right-padding;

    #{$self}__list {
      position: absolute;
      right: 0;
      top: 0;

      li {
        display: block;
      }
    }
  }

  &__list {
    li {
      cursor: pointer;
      display: inline-block;

      &.is-active {
        font-weight: 700;
      }
    }
  }

  &__container {
    article {
      left: -999rem;
      opacity: 0;
      position: absolute;
      top: -999rem;
      transition: opacity .5s ease-in-out;
      visibility: hidden;

      &::before,
      &::after {
        clear: both;
        content: '';
        display: block;
      }

      &.is-active {
        animation-duration: 1s;
        opacity: 1;
        position: static;
        visibility: visible;
      }
    }
  }
}
